@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
  /* slate-50 느낌 */
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}